<style type="text/css">
</style>
<div class="modal-header">
    <h3>添加用例</h3>
</div>
<div class="modal-body modalBody">
    <ul class="titleUl">
        <li>
            <h1>用例名称：</h1>
            <input type="text" class="inputText floatleft">
            <span class="error">不能为空</span>
            <div class="clear"></div>
        </li>
        <li>
            <h1>前提条件：</h1>
            <textarea class="projectTextarea floatleft"></textarea>
            <span class="error">不能为空</span>
            <div class="clear"></div>
        </li>
        <li>
            <h1>描述：</h1>
            <textarea class="projectTextarea floatleft"></textarea>
            <span class="error">不能为空</span>
            <div class="clear"></div>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn_blue" ng-click="ok()">确认</button>
    <button class="btn_gray" ng-click="cancel()">取消</button>
</div>
