<style type="text/css">
.modal-dialog {
    width: 800px;
}
</style>
<div class="modal-header">
    <div class="modaltitle"><span class="floatleft">收货地址</span></div>
    <a class="closemodal" href="" ng-click="cancel()"></a>
</div>
<div class="modal-body modalBody smalltipmodal">
    <div class="infoItem fix">
        <div class="title floatleft">收件人：</div>
        <div class="content floatleft">泽众软件</div>
    </div>
    <div class="infoItem fix">
        <div class="title floatleft">所在地区：</div>
        <div class="content floatleft">11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111</div>
    </div>
    <div class="infoItem fix">
        <div class="title floatleft">详细地址：</div>
        <div class="content floatleft">113566</div>
    </div>
    <div class="infoItem fix">
        <div class="title floatleft">联系电话：</div>
        <div class="content floatleft">113566</div>
    </div>
    <a class="btn-modal1 btn-modal-blue" ng-click="cancel()" href="">确定</a>
</div>
