<style type="text/css">
</style>
<div class="modal-header">
    <div class="modaltitle"><span class="floatleft">选择项目</span></div>
    <a class="closemodal" href="" ng-click="cancel()"></a>
</div>
<div class="modal-body modalBody projectmemberInfo" style="padding: 0px;">
    <div class="defaultulBox">
        <div class="ulcontentBox" style="height: 300px;">
            <ul>
                <li class="current">
                    泽众软件
                </li>
                <li class="" ng-repeat="v in [1,2,3]">
                    泽众软件
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a href="" class="floatright btn-modal btn-modal-blue marginl-10">确定</a>
    <a href="" class="floatright btn-modal btn-modal-gray">取消</a>
</div>
