<style type="text/css">
.modal-dialog {
    width: 800px;
}
</style>
<div class="modal-header">
    <div class="modaltitle"><span class="floatleft">项目组创建成功</span></div>
    <a class="closemodal" href="" ng-click="cancel()"></a>
</div>
<div class="modal-body modalBody smalltipmodal">
    <div class="infoItem fix">
        <div class="title floatleft">项目组名称：</div>
        <div class="content floatleft">泽众软件</div>
    </div>
    <div class="infoItem fix">
        <div class="title floatleft">项目组编号：</div>
        <div class="content floatleft">11111111</div>
    </div>
    <div class="infoItem fix">
        <div class="title floatleft">项目组密码：</div>
        <div class="content floatleft">113566</div>
    </div>
    <a class="btn-modal1 btn-modal-blue" ng-click="cancel()" href="">确定</a>
</div>
