<style type="text/css">
.modal-dialog {
    width: 800px;
}
</style>
<div class="modal-header">
    <div class="modaltitle"><span class="floatleft">开票信息</span></div>
    <a class="closemodal" href="" ng-click="cancel()"></a>
</div>
<div class="modal-body modalBody smalltipmodal">
    <div class="infoItem fix">
        <div class="title2 floatleft">开具类型：</div>
        <div class="content floatleft">企业</div>
    </div>
    <div class="infoItem fix">
        <div class="title2 floatleft">发票类型：</div>
        <div class="content floatleft">普通增值税发票</div>
    </div>
    <div class="infoItem fix">
        <div class="title2 floatleft">发票抬头：</div>
        <div class="content floatleft">某某某科技有限公司</div>
    </div>
    <div class="infoItem fix">
        <div class="title2 floatleft">纳税人识别号/统一社会征信代码：</div>
        <div class="content floatleft">SA5665461166HF</div>
    </div>
    <div class="infoItem fix">
        <div class="title2 floatleft">开户行名称：</div>
        <div class="content floatleft">中国工商银行上海支行</div>
    </div>
    <div class="infoItem fix">
        <div class="title2 floatleft">开户账号：</div>
        <div class="content floatleft">SA5665461166HF</div>
    </div>
    <a class="btn-modal1 btn-modal-blue" ng-click="cancel()" href="">确定</a>
</div>
