<style type="text/css">
.modal-dialog{
    width: 500px;
}
</style>
<div class="modal-header modalheader1">
    <div class="modaltitle"><span class="floatleft">项目组详情</span></div>
    <a class="closemodal" href="" ng-click="cancel()"></a>
</div>
<div class="modal-body modalBody smalltipmodal">
    <div class="infoItem fix">
        <div class="title floatleft">项目组名称：</div>
        <div class="content floatleft">泽众软件</div>
    </div>
    <div class="infoItem fix">
        <div class="title floatleft">项目组编号：</div>
        <div class="content floatleft">11111111</div>
    </div>
    <div class="infoItem fix">
        <div class="title floatleft">项目组类型：</div>
        <div class="content floatleft">加密群组（凭密码进入）</div>
    </div>
    <div class="infoItem fix">
        <div class="title floatleft">项目组密码：</div>
        <div class="content floatleft">113566</div>
    </div>
    <div class="infoItem fix">
        <div class="title floatleft">创建人：</div>
        <div class="content floatleft">张三（1516163355）</div>
    </div>
    <div class="infoItem fix">
        <div class="title floatleft">创建时间：</div>
        <div class="content floatleft">2017-05-05 14：00：00</div>
    </div>
    <a class="btn-modal1 btn-modal-blue"  ng-click="cancel()" href="">确定</a>
    
</div>
