@charset "UTF-8";
.modal-content {
  border-radius: 0px;
  box-shadow: none;
  position: relative;
  /* 登录注册样式 */
  /* 其他弹窗样式 */
  /*提示弹窗样式*/
  /* 加入项目弹窗 */
  /*选择部门*/
  /*已选成员框*/
  /* 小弹窗信息展示 */
  /* 成员详情 */
  /*角色选择框*/ }
  .modal-content .closemodal {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/close.png) no-repeat;
    right: 20px;
    top: 30px; }
  .modal-content .loginBox {
    padding-bottom: 80px;
    padding-top: 60px; }
    .modal-content .loginBox .loginTitle {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      color: #1674ff;
      margin-bottom: 40px; }
    .modal-content .loginBox .inputBox {
      position: relative;
      width: 300px;
      margin: 0 auto;
      margin-bottom: 25px; }
      .modal-content .loginBox .inputBox input {
        width: 300px;
        padding: 0px 15px 0px 0px;
        border-bottom: 1px solid #e5e5e5;
        font-size: 14px;
        line-height: 32px; }
      .modal-content .loginBox .inputBox .error {
        position: absolute;
        left: 310px;
        top: -8px; }
        .modal-content .loginBox .inputBox .error .triangle {
          width: 0;
          height: 0;
          display: block;
          position: absolute;
          left: 0px;
          top: 15px;
          border-top: 5px solid transparent;
          border-right: 6px solid rgba(0, 0, 0, 0.8);
          border-bottom: 5px solid transparent; }
        .modal-content .loginBox .inputBox .error span {
          display: inline-block;
          float: left;
          background: rgba(0, 0, 0, 0.8);
          height: 38px;
          line-height: 38px;
          margin-left: 6px;
          color: #fff;
          font-size: 12px;
          padding: 0px 30px;
          white-space: nowrap; }
    .modal-content .loginBox .inputBox1 input {
      width: 180px; }
    .modal-content .loginBox .inputBox1 .getcode {
      display: inline-block;
      width: 100px;
      float: right;
      font-size: 14px;
      height: 30px;
      border: 1px solid #e5e5e5;
      text-align: center;
      line-height: 30px;
      color: #878787; }
      .modal-content .loginBox .inputBox1 .getcode:hover {
        color: #878787; }
    .modal-content .loginBox .inputBoxPwd .glyphicon {
      position: absolute;
      right: 0px;
      top: 11px;
      color: #ccc;
      cursor: pointer; }
    .modal-content .loginBox .inputBoxPwd .glyphicon:hover {
      color: #1674ff; }
    .modal-content .loginBox .checkBox {
      width: 300px;
      margin: 0 auto;
      font-size: 14px;
      color: #a0a0a0; }
    .modal-content .loginBox .checkBoxDefault {
      width: 300px;
      margin: 0 auto;
      font-size: 14px;
      color: #a0a0a0; }
    .modal-content .loginBox .btnlogin {
      display: block;
      margin: 0 auto;
      width: 300px;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      color: #ffffff;
      text-align: center;
      background: #1674ff;
      margin-top: 30px;
      cursor: pointer; }
    .modal-content .loginBox .linkBox {
      width: 300px;
      margin: 0 auto;
      margin-top: 30px;
      font-size: 14px; }
  .modal-content .modal-header {
    height: 60px;
    border-bottom: 1px solid #e5e5e5;
    position: relative; }
    .modal-content .modal-header .closemodal {
      top: 25px; }
    .modal-content .modal-header .modaltitle {
      font-size: 20px;
      color: #a0a0a0;
      font-weight: bold; }
      .modal-content .modal-header .modaltitle .modaltitle1 {
        font-size: 14px;
        font-weight: normal;
        max-width: 60%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 8px; }
  .modal-content .defaultModal {
    text-align: center;
    padding: 45px 0px; }
  .modal-content .defaultModal img {
    margin-bottom: 25px; }
  .modal-content .defaultModal p {
    font-size: 18px;
    color: #797979;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 35px; }
  .modal-content .modalheader1 {
    height: 50px; }
    .modal-content .modalheader1 .modaltitle {
      font-size: 14px;
      font-weight: normal;
      line-height: 20px; }
    .modal-content .modalheader1 .closemodal {
      width: 12px;
      height: 12px;
      top: 20px;
      background-size: 12px 12px; }
  .modal-content .modalBody {
    padding: 0px 20px 20px;
    max-height: 500px;
    overflow: auto; }
  .modal-content .modalinputBox {
    padding: 10px 20px; }
    .modal-content .modalinputBox .title {
      font-size: 14px;
      color: #707070;
      width: 105px;
      text-align: right;
      line-height: 40px; }
    .modal-content .modalinputBox .inputtext {
      width: 50%;
      margin-right: 20px; }
    .modal-content .modalinputBox .textareatext {
      width: 50%;
      margin-right: 20px;
      height: 160px; }
    .modal-content .modalinputBox .inputradioBox {
      line-height: 40px;
      margin-right: 10px; }
      .modal-content .modalinputBox .inputradioBox .inputradio {
        margin-right: 5px; }
    .modal-content .modalinputBox .error {
      line-height: 40px; }
  .modal-content .modalinputBox1 .getcodeBox {
    width: 50%; }
    .modal-content .modalinputBox1 .getcodeBox input {
      float: left;
      margin-right: 0px; }
    .modal-content .modalinputBox1 .getcodeBox .getcodeBtn {
      width: 100px;
      line-height: 42px;
      display: block;
      float: left;
      background: #c9c9c9;
      color: #fff;
      font-size: 14px;
      text-align: center; }
    .modal-content .modalinputBox1 .getcodeBox .getcodeBtn1 {
      background: #1674ff; }
      .modal-content .modalinputBox1 .getcodeBox .getcodeBtn1:hover {
        background: #085ede; }
  .modal-content .infoItem {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 6px; }
    .modal-content .infoItem .title {
      width: 120px;
      text-align: right;
      color: #707070;
      margin-right: 15px; }
    .modal-content .infoItem .title2 {
      text-align: left;
      color: #707070;
      margin-right: 15px; }
    .modal-content .infoItem .content {
      width: 80%;
      word-break: break-all;
      word-wrap: break-word; }
  .modal-content .infoItem1 {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 6px; }
    .modal-content .infoItem1 .title {
      color: #707070;
      margin-right: 15px; }
    .modal-content .infoItem1 .content {
      width: 80%; }
  .modal-content .modalBody {
    padding: 0px 0px 20px; }
  .modal-content .modalBody1 {
    padding: 20px 0px 20px; }
  .modal-content .modalBody .defaultulBox .ulcontentBox {
    height: 400px;
    overflow: auto; }
  .modal-content .joinProjectGroup .modalsearchBox {
    width: 100%;
    border-bottom: 1px solid #e5e5e5; }
    .modal-content .joinProjectGroup .modalsearchBox .modalsearch {
      width: 560px;
      margin: 0 auto;
      padding: 20px 0px;
      line-height: 40px; }
      .modal-content .joinProjectGroup .modalsearchBox .modalsearch input {
        width: 480px;
        padding: 0px 15px;
        border: 1px solid #e5e5e5;
        line-height: 38px; }
        .modal-content .joinProjectGroup .modalsearchBox .modalsearch input:focus {
          border-color: #1674ff; }
      .modal-content .joinProjectGroup .modalsearchBox .modalsearch .searchBtn {
        display: block;
        width: 80px;
        background: #1674ff;
        color: #fff;
        font-size: 14px;
        text-align: center; }
  .modal-content .joinProjectGroup .modalsearchList {
    width: 560px;
    margin: 0 auto;
    padding: 10px 0px; }
    .modal-content .joinProjectGroup .modalsearchList .searchItem {
      font-size: 14px;
      width: 100%;
      padding: 15px;
      background: #edf4ff;
      text-align: center; }
      .modal-content .joinProjectGroup .modalsearchList .searchItem .groupname {
        color: #313131;
        width: 50%;
        text-align: left; }
      .modal-content .joinProjectGroup .modalsearchList .searchItem .createname {
        color: #707070;
        width: 50%;
        text-align: left; }
      .modal-content .joinProjectGroup .modalsearchList .searchItem .joinbtn {
        margin-top: 15px; }
  .modal-content .tableListBox {
    border: 1px solid #e1e6eb;
    font-size: 14px;
    color: #3b3b3b; }
  .modal-content .tableListBox .listTitle {
    padding: 0px 10px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #f5f6fa;
    border-bottom: 1px solid #e1e6eb; }
  .modal-content .tableListBox .listBody {
    height: 350px;
    overflow-y: auto;
    padding: 10px 0px; }
  .modal-content .tableListBox .treeLine .treeNodeCheckbox {
    margin-top: 9px;
    margin-right: 5px;
    float: left; }
  .modal-content .tableListBox .treeLine {
    padding: 0px 10px;
    cursor: pointer;
    line-height: 30px; }
  .modal-content .tableListBox .treeLine .treeToggle {
    float: left;
    margin-right: 5px; }
  .modal-content .tableListBox .treeLine:hover {
    background: #e4e6f1; }
  .modal-content .modalselectedBox {
    padding: 10px 20px 0px; }
    .modal-content .modalselectedBox .modalselectedSpan {
      padding: 5px 15px 5px 10px;
      background: #edf4ff;
      border-radius: 3px;
      font-size: 14px;
      position: relative;
      margin-right: 10px;
      margin-bottom: 10px;
      display: inline-block; }
      .modal-content .modalselectedBox .modalselectedSpan:hover .delSelected {
        display: block; }
      .modal-content .modalselectedBox .modalselectedSpan .delSelected {
        display: none;
        cursor: pointer;
        position: absolute;
        width: 10px;
        height: 10px;
        right: 3px;
        top: 3px;
        background: url(../images/close.png) no-repeat center center;
        background-size: cover; }
  .modal-content .smalltipmodal {
    padding: 20px 15px; }
    .modal-content .smalltipmodal input {
      border: 1px solid #e5e5e5;
      line-height: 40px;
      padding: 0px 15px;
      width: 100%;
      margin: 0px 0px 5px; }
      .modal-content .smalltipmodal input:focus {
        border-color: #1674ff; }
    .modal-content .smalltipmodal .infoItem .content {
      width: 60%; }
    .modal-content .smalltipmodal .btn-modal1 {
      margin-top: 20px; }
  .modal-content .projectmemberInfo .infoBox {
    padding: 20px 15px;
    border-bottom: 1px solid #e5e5e5; }
  .modal-content .roleselectBox {
    padding: 20px 15px;
    height: 200px;
    overflow: auto; }
    .modal-content .roleselectBox .selectItem {
      width: 25%;
      float: left;
      line-height: 28px; }
      .modal-content .roleselectBox .selectItem input {
        float: left;
        margin-top: 8px;
        margin-right: 5px; }
      .modal-content .roleselectBox .selectItem .rolename {
        font-size: 14px;
        color: #313131;
        max-width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        float: left; }
