<div class="cmainBox" ng-controller="myorderCtrl">
    <div class="titleBox fix">
        <div class="title floatleft">订单详情</div>
        <div class="floatright">
            <a ui-sref="personalcenter.myorder({leftnav:2})" href="" class="editInfo floatright">返回</a>
        </div>
    </div>
    <div class="contentBox">
        <table class="tableTitle">
            <tr>
                <tr>
                    <th>
                        <span>订单号：<a class="a-blue">{{order.id}}</a></span>
                        <span class="marginl-10">订单时间：{{order.time}}</span>
                    </th>
                    <th colspan="5">下单用户：张三（124242534534）</th>
                </tr>
            </tr>
        </table>
        <table class="defaultTable1 margint-20">
            <tr>
                <th style="width: 25%">产品名称</th>
                <th style="width: 25%">规格</th>
                <th style="width: 10%">单价</th>
                <th style="width: 5%">数量</th>
                <th style="width: 10%">总金额</th>
                <th style="width: 15%">订单状态</th>
            </tr>
            <tr ng-repeat="(k,o) in order.orders">
                <td style="width: 25%">{{o.pname}}</td>
                <td style="width: 25%">{{o.ptype}}</td>
                <td style="width: 10%">{{o.pprice}}</td>
                <td style="width: 5%">{{o.pnum}}</td>
                <td style="width: 10%" class="f-bold" rowspan="{{order.orders.length}}" ng-hide="k!=0">{{order.sum}}</td>
                <td style="width: 15%" rowspan="{{order.orders.length}}" ng-hide="k!=0">
                    <a class="a-blue" href="">合同中</a>
                </td>
            </tr>
        </table>
        <!-- 合同信息 -->
        <div class="orderDetailBox">
            <div class="orderDetailTitle">合同信息</div>
            <table class="defaultTable1 margint-20">
                <tr>
                    <th>合同编号</th>
                    <th>合同状态</th>
                    <th>合同文件</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td>PD-20170323</td>
                    <td ng-controller="modalCtrl"><span class="c-blue">已确认</span><span ng-click="open('adressDetail')" title="查看快递地址" class="glyphicon glyphicon-list-alt navicon a-blue marginl-5"></span></td>
                    <td style="padding: 10px 15px;width: 400px;">
                        <ul class="orderfileList">
                            <li ng-repeat="v in [1,2,3]" class="fix"><span class="fileName">TestCenter租用合同TestCenter租用合同.doc</span><a class="a-blue marginl-10" href="">下载</a></li>
                        </ul>
                    </td>
                    <td ng-controller="modalCtrl">
                        <a ng-click="open('confirmContract')" class="borderbtn borderbtn-blue" href="">确认合同</a>
                        <a ng-click="open('rejectContract')" class="borderbtn borderbtn-red marginl-5" href="">驳回合同</a>
                    </td>
                </tr>
            </table>
        </div>
        <!-- 付款信息 -->
        <div class="orderDetailBox">
            <div class="orderDetailTitle">付款信息</div>
            <table class="defaultTable1 margint-20">
                <tr>
                    <th>付款期次</th>
                    <th>起止时间</th>
                    <th>百分比</th>
                    <th>应付金额</th>
                    <th>付款状态</th>
                    <th>付款日期</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2017-05-06至2017-05-07</td>
                    <td>60%</td>
                    <td>¥331.00</td>
                    <td><span class="c-blue">已付款</span></td>
                    <td>2017-05-06</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2017-05-06至2017-05-07</td>
                    <td>60%</td>
                    <td>¥331.00</td>
                    <td><span>尚未付款</span></td>
                    <td>2017-05-06</td>
                </tr>
            </table>
        </div>
        <!-- 历史操作 -->
        <div class="orderDetailBox">
            <div class="orderDetailTitle">历史操作</div>
            <table class="defaultTable1 margint-20">
                <tr>
                    <th>操作人</th>
                    <th>操作</th>
                    <th>操作时间</th>
                    <th>备注</th>
                </tr>
                <tr>
                    <td>平台管理员</td>
                    <td>邮寄合同</td>
                    <td>2017-02-28 14：00</td>
                    <td>备注内容</td>
                </tr>
            </table>
        </div>
    </div>
</div>
