<div class="cmainBox" ng-controller="createflowCtrl">
	<div class="titleBox fix">
		<div class="title floatleft">流程名字</div>
	</div>
	<div class="line"></div>
	<div class="contentBox">
		<div class="currentNodeBox">
			<div class="currentNodeTitle">
				当前节点：测试报告提交-->上传报告
			</div>
			<div class="line"></div>
			<div class="operatingBtn">
				<input type="button" name="" id="" value="保存" />
				<input type="button" name="" id="" value="提交" />
				<input type="button" name="" id="" value="取消" />
			</div>
		</div>
		<div class="basicInfo">
			<div class="basicInfoTitle">
				<div class="floatleft">
					基本信息
				</div>
				<div class="floatright">
					<img src="/images/hide.png" ng-click="basicInfoToggle()" />
				</div>
			</div>
			<div class="basicInfoCont " ng-hide="infoDetail">
				<div class="line"></div>
				<ol>
					<li class="clearfix">
						<div class="listLeft floatleft">
							<span class="tipsColor">*</span> 任务名称：
						</div>
						<div class="listRight floatleft">
							<input disabled="disabled" type="text" style="width: 440px;" required="required" name="" id="" value="aaaaa" />
							<span class="tips tipsColor">提示文字提示文字提示文字提示文字提示文字</span>
						</div>
					</li>
					<li class="clearfix">
						<div class="listLeft floatleft">
							<span class="tipsColor">*</span> 项目名称：
						</div>
						<div class="listRight floatleft">
							<input disabled="disabled" type="text" style="width: 414px;float: left;" required="required" name="" id="" value="aaaaa" />
							<i class="glyphicon glyphicon-filter icon-blue1 filter" ng-click=""></i>
							<span class="tips tipsColor">提示文字提示文字提示文字提示文字提示文字</span>
						</div>
					</li>
					<li class="clearfix">
						<div class="listLeft floatleft">
							<span class="tipsColor">*</span> 项目编号：
						</div>
						<div class="listRight floatleft">
							<input disabled="disabled" type="text" style="width: 440px" required="required" name="" id="" value="" />
							<span class="tips tipsColor">提示文字提示文字提示文字提示文字提示文字</span>
						</div>
					</li>
					<li class="clearfix">
						<div class="listLeft floatleft">
							<span class="tipsColor">*</span> 申请人：
						</div>
						<div class="listRight floatleft">
							<input disabled="disabled" type="text" style="width: 200px" required="required" name="" id="" value="管理员" />
							<span class="tips tipsColor">提示文字提示文字提示文字提示文字提示文字</span>
						</div>
					</li>
					<li class="clearfix">
						<div class="listLeft floatleft">
							<span class="tipsColor">*</span> 申请时间：
						</div>
						<div class="listRight floatleft">
							<input disabled="disabled" type="text" class="inputText" style="width: 200px" datepicker-popup="{{format}}" ng-model="dat" is-open="popup1.opened" alt-input-formats="altInputFormats" min-date="dat0" max-date="dat1" ng-click="open1()" close-text="关闭" clear-text="清空" current-text="今天" />
							<span class="tips tipsColor">提示文字提示文字提示文字提示文字提示文字</span>
						</div>
					</li>
					<li class="clearfix" style="height: 70px;">
						<div class="listLeft floatleft">
							备注：
						</div>
						<div class="listRight floatleft">
							<textarea disabled="disabled" name="" rows="" cols=""></textarea>
							<span class="tips tipsColor floatleft">提示文字提示文字提示文字提示文字提示文字</span>
						</div>
					</li>
				</ol>
				<div class="line"></div>
				<div class="testReportTable">
					<table class="defaultTable1">
						<tr>
							<th style="width: 33.33%;">检查项</th>
							<th style="width: 33.33%;">阶段类型</th>
							<th style="width: 33.33%;">是否通过</th>
						</tr>
						<tr ng-repeat="o in data.list">
							<td style="text-align: left;">{{o.checkItem}}</td>
							<td>{{o.phaseType}}</td>
							<td>{{o.ifPass}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="attachmentInfo">
			<div class="basicInfoTitle">
				<div class="floatleft">
					附件信息
				</div>
				<div class="floatright">
					<img src="/images/hide.png" ng-click="attachmentInfoToggle()" />
				</div>
			</div>
			<div class="attachmentInfoCont" ng-hide="attachmentInfo">
				<div class="line"></div>
				<div class="operatingBtn">
					<input type="button" name="" id="" value="下载" />
				</div>
				<div class="attachmentTable">
					<table class="defaultTable1">
						<tr>
							<th></th>
							<th>
								<input type="checkbox" name="" id="" value="" />
							</th>
							<th>文件名</th>
							<th>上传人</th>
							<th>上传时间</th>
							<th>下载附件</th>
							<th>删除附件</th>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="history">
			<div class="basicInfoTitle">
				<div class="floatleft">
					历史操作记录
				</div>
				<div class="floatright">
					<img src="/images/hide.png" ng-click="historyToggle()" />
				</div>
			</div>
			<div class="historyCont" ng-hide="historyInfo">
				<div class="line"></div>		
				<ol>
					<li>
						2017-10-10 14:22  张三（18612345678）进行XXXX操作
					</li>
					<li>
						2017-10-10 14:22  张三（18612345678）进行XXXX操作
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>